@charset "UTF-8"
@import "../web/css/define"
/* ====================================
 * emulator
 * ================================== */
.phone
  width: 400px
  height: 750px
  background: linear-gradient(to bottom, #FFF, #F0F0F0),linear-gradient(to bottom, #111, #000)
  background-size: 360px 640px,100% 100%
  background-position: 20px 50px,0 0
  background-repeat: no-repeat, no-repeat
  border-radius: 20px
  padding: 50px 20px 60px
  position: relative

  &:before,
  &:after
    content: ' '
    position: absolute
    left: 50%
    z-index: 5

  &:before
    top: 16px
    margin-left: -25px
    width: 50px
    height: 10px
    border-radius: 5px
    background-color: #333

  &:after
    bottom: 20px
    margin-left: -12px
    width: 24px
    height: 24px
    border: 2px solid #7E7E7E
    border-radius: 12px

.emulator
  width: 360px
  height: 640px
  overflow: auto

  .top-navbar
    text-indent: 15px

    h2
      margin: 0
      font-size: 16px
      line-height: 45px

  .game-info,
  .homepage-nav
    background-color: #ef9393

  .game-info
    padding: 15px
    color: #FFF

    img
      width: 70px
      height: 70px
      border-radius: 6px

    h2
      font-size: 16px
      margin: 5px 0

    p
      @extend .transition
      font-size: 12px
      height: 3em
      margin: 0
      overflow: hidden

    small
      color: #EEE

  .smart-slide
    height: 250px
    overflow: hidden

    img
      width: 100%

  h2.game-header
    font-size: 12px
    line-height: 30px
    margin: 0
    text-indent: 15px

  .homepage-nav
    padding: 0
    overflow: auto
    color: #FFF

    ul
      list-style: none
      padding: 0
      margin: 0

    .item
      width: 100px
      margin-left: 15px
      display: inline-block

      img
        width: 100px
        height: 100px
        border-radius: 10px
        display: block

      h3
        font-size: 14px
        line-height: 30px
        font-weight: normal
        margin: 0
        text-align: center

      a
        color: #FFF

  .top-articles
    ul, li
      list-style: none
      margin: 0
      padding: 0

    ul
      padding: 10px

    li
      background-color: #5E5E5E
      border-radius: 4px
      color: #FFF
      padding: 10px
      overflow: hidden

      + li
        margin-top: 5px

    img
      border-radius: 4px
      height: 40px
      margin-right: 10px

    h2
      font-size: 16px
      font-weight: normal
      margin: 0 0 5px

    p
      font-size: 12px
      color: #EEE
      margin-bottom: 0

  section
    padding: 15px

    h1
      margin: 0 0 10px
      font-size: 18px

    .news-info
      font-size: 12px
      margin: 0

    img
      max-width: 100%