[submodule "web"]
	path = web
	url = git@github.com:Dianjoy/nozdormu.git
[submodule "client"]
	path = client
	url = git@github.com:Dianjoy/gamepop.git
[submodule "inc"]
	path = inc
	url = git@github.com:meathill/gamepop-inc.git
